{% extends "layout.html" %}
{% load static %}

{% block content %}
<div class="detail_content">
        <div id="username" class="header">
            <h1>{{request.user.username}}</h2>
            </div>
            <div v-cloak id="group-list" data-id="{{user.username}}">
                <div class="data-output">
                    <div v-for="group in groups">
                        <div class="data-instance">
                            <div class ="group-name">
                                [[group.name]] 
                            </div>
                            <span class="users-list" v-for="user in group.users">
                                [[user.username]] 
                            </span>
                        </div>
            
                    </div>
                </div>
            </div>
            
        </div>
    </div>
{% endblock content %}

{% block scripts %}
<script src="{% static 'js/user_group_list.js' %}"></script>


{% endblock scripts %}