{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="">
  
  <title>DopeTracks</title>
  
  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>

<body class="text-center">
  
    
  {% if request.user.is_authenticated %}
    <div id='root'> </div>
    <script src="{% static 'frontend/main.js' %}"></script>
  {% else %}         
    <a href="{% url 'social:begin' 'lastfm' %}" class="btn btn-lg btn-secondary">Log In With Last FM</a>
  {% endif %}

</body>

{% if request.user.is_authenticated %}
  <script src="{% static 'frontend/main.js' %}"></script>
{% endif %}

</html>
