{% extends "layout.html" %}
{% load static %}
{% block content %}
<div class="detail_content">
    <div id="username" class="header">
        <h1>{{user.username}}</h2>
        </div>
        <div v-cloak id="top-tracks" data-id="{{user.username}}">
            <div class="time-banner">
                <span>
                    Top Tracks for Last 
                </span>
                <input type="text" id="#days" v-model="days" v-on:keypress="checkSubmit" class="time-input">
                <span>Days</span>
            </div>
            <div class="data-output">
                <div v-for="track in tracks">
                    <div class="data-instance">
                        <p>
                            <span class ="track-name">[[track.track.name]]</span> by <span class="artist-name">[[track.track.artist.name]]</span> Played: [[track.playcount]]
                        </p>
                    </div>
        
                </div>
            </div>
        </div>
        
    </div>
</div>
{% endblock content %}

{% block scripts %}
<script src="{% static 'js/user_top_tracks.js' %}"></script>
{% endblock scripts %}